.profile-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.data-label {
  font-weight: bold;
}

.images-container {
  margin-top: 20px;
  
}

.images-container h2 {
  margin-bottom: 10px;
  margin-left: 10px;
}

.images-container .user-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 105px;
  margin-left: 330px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sign-out-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 675px;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c82333;
}
