/* Styling for the homepage container */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-d37f5243f6ae21dcfb1fbf28dfe261f5.jpg);
    background-size: cover;
  }
  
  /* Styling for the card */
  .card {
    width: 380px;
    margin: 150px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .card-content {
    padding: 20px;
}

.card h2 {
margin-top: 0;
}

/* Styling for the tabs */
.tab-container {
margin-bottom: 20px;
}

.tab-button {
background-color: #f2f2f2;
color: #333;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
margin-right: 10px;
}

.tab-button:hover {
background-color: #000000;
color: whitesmoke;
}

.tab-button.active {
background-color: #000000;
color: #ffffff;
}

/* Styling for the form inputs and buttons */
.form-input {
margin-bottom: 10px;
width: 90%;
padding: 10px;
font-size: 16px;
border-radius: 4px;
border: 1px solid #ccc;
}

.search-button {
background-color: #3f78e2;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 10px;
cursor: pointer;
border-radius: 4px;
}

.search-button:hover {
background-color: #45a049;
}
  /* Styling for the homepage heading */
.homepage h1 {
    font-size: 28px;
    color: #fff;
    text-align: center;
    }
    
    /* Styling for the card title */
    .card h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    }
    
    /* Styling for the card content paragraphs */
    .card p {
    margin-bottom: 10px;
    }
    
    /* Styling for the tabs content */
    .tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    }
    
    /* Styling for the active tab content */
    .tab-content.active {
    display: block;
    }
    
    /* Styling for the form labels */
    .form-label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    }
    
    /* Styling for the form submit button */
    .form-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    }
    
    .form-submit:hover {
    background-color: #0056b3;
    }
    
    /* Styling for error messages */
    .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    }
    
    /* Styling for success messages */
    .success-message {
    color: #00cc00;
    font-size: 14px;
    margin-top: 5px;
    }
    